body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}
.container{
    width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
.sidebar-satu{
    margin-right: 5rem;
}
.sidebar-utama{
    margin-right: 0;
}
.sidebar-kedua{
    margin-left: 5rem;
    width: 2500px;
}